* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --active: #FD7FC8;
  --black: #000;
  --green: #29636f;
  --dirtyPurple: #464b5e;
  --lightPurple: #6a4f6d;
  --darkPurple: #3f084d;
}

body {
  margin-bottom: 200px;
  margin: 0px auto;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}